<div class="card mb-3 position-relative">
    {% if transaction.author and transaction_service.canEdit(app.user, transaction) %}
        <div class="position-absolute bottom-0 end-0 p-2">
            <a href="{{ path('app_transaction_edit', {'transaction': transaction.id}) }}" class=" btn btn-sm btn-success">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
        </div>
    {% endif %}
    <div class="card-body">
        {% include 'transaction/_partials/_card-header.html.twig' %}
        <table class="table">
            <tr>
                <th>Status</th>
                <td>
                    {{ transaction.status }}
                    {% if transaction.status == 'review' %}
                        {{ transaction.approvers|length }}/{{ score_service.numberOfNeededApprovments }}
                        {% if score_service.canApprove(app.user, transaction) %}
                            <a href="{{ path('app_transaction_approve', {'transaction': transaction.id}) }}"
                               class="btn btn-outline-primary">
                                <i class="fa-solid fa-check"></i>
                            </a>
                        {% else %}
                            <i class="text-success fa-solid fa-check"></i>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Author (Approvers)</th>
                <td>
                    {{ transaction.author }} ({{ transaction.approvers|join(', ') }})
                </td>
            </tr>
        </table>
        <div>
            <p>
                {{ transaction.description|nl2br }}
            </p>
            {% if transaction.media %}
                <div class="border-light border border-1 p-2 mb-3" style="max-width: 300px; max-height: 300px">
                    <img src="{{ path('app_media', {'media': transaction.media.id}) }}" class="w-100" style="height: 300px; object-fit: contain">
                </div>
            {% endif %}
        </div>
        <div class="fw-bolder">Kommentär</div>
        {% if transaction.transactionComments|length > 0 %}

            {% for comment in transaction.transactionComments %}
                <div class="alert alert-info p-1">
                    <div class="d-flex gap-3">

                        {% include 'profile/_partials/_avatar.html.twig' with {'user': comment.author} %}
                        <div class="flex-grow-1">
                            <p class="mt-1">
                                {{ comment.text | nl2br }}
                            </p>

                        </div>
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <p>-</p>
        {% endif %}

        {% if commentForm is defined %}
            {{ form_start(commentForm) }}
            {{ form_rest(commentForm) }}
            <button class="btn btn-primary">Kommentieren</button>
            {{ form_end(commentForm) }}
        {% else %}
            <a href="{{ path('app_transaction_view', {'transaction': transaction.id}) }}"
               class="btn btn-outline-primary">Kommentar hinzufügen</a>
        {% endif %}
    </div>
</div>
