<div>

    <div class="d-flex gap-3">
        <div class="">
            <div class="d-flex gap-2 align-items-center justify-content-center">
                {% include 'profile/_partials/_avatar.html.twig' with {'user': transaction.user} %}
            </div>
        </div>
        <div class="flex-grow-1">
            <div class="d-flex justify-content-between">
                <div class="date fst-italic mb-2">{{ transaction.created|date }}</div>
                <div>
                    {% include 'transaction/_partials/_points-badge.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {% if is_preview is defined %}

        <div class="d-flex gap-2">
            {% if transaction.media %}
                <div style="width: 60px">

                    <img src="{{ path('app_media', {'media': transaction.media.id}) }}" alt="" class="w-100">
                </div>
            {% endif %}
            <div class="flex-grow-1">
                <div class="text-overflow mb-3 fw-bolder">
                    {{ transaction.description }}
                </div>
            </div>
            {% if transaction.transactionComments|length > 0 %}

                {% for comment in transaction.transactionComments %}
                    {% include 'transaction/_partials/_comment.html.twig' with {'comment': comment} %}
                {% endfor %}
            {% else %}
                <p>-</p>
            {% endif %}

        </div>
        <div class="d-flex justify-content-between">
            <div>
                <i>
                    {{ transaction.status }}
                    {% if transaction.status == 'review' %}
                        {{ transaction.approvers|length }}/{{ score_service.numberOfNeededApprovments }}
                    {% endif %}
                </i>

            </div>
            <div>
                <a href="{{ path('app_transaction_view', {'transaction': transaction.id}) }}"
                   class="btn btn-outline-primary">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    {% endif %}
</div>
