{% extends 'base.html.twig' %}

{% block title %}Hello TransactionController!{% endblock %}

{% block body %}
    <table class="table" style="table-layout: fixed">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Punkte</th>
            <th>Status</th>
            <th>Author</th>
            <th>Approvers</th>
            <th>Beschreibung</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.created|date }}</td>
                <td>{{ transaction.value }}</td>
                <td>{{ transaction.status }}
                    {% if transaction.status == 'review' %}
                        {{ transaction.approvers|length }}/{{ score_service.numberOfNeededApprovments }}
                        {% if score_service.canApprove(app.user, transaction) %}
                            <a href="{{ path('app_transaction_approve', {'transaction': transaction.id}) }}" class="btn btn-outline-primary">approve</a>
                        {% else %}
                            <a href="" class="btn btn-outline-primary disabled">approved</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ transaction.author }}</td>
                <td>
                    {{ transaction.approvers|join(', ') }}
                </td>
                <td>{{ transaction.description }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_transaction_create', {'user': user.id}) }}" class="btn btn-primary">Transaktion erstellen</a>
{% endblock %}
